button.delete{
	background: #D71A13;
	border: none;
	color: white;
	padding: 7px;
	width: 36px;
	/*margin-left: 15px;*/
	border-radius: 4px;
}

.indexTable{
	display: inline-flex;
}
.indexTable a{
	margin-right: 10px;
}

.box__title{
	margin-top: 0;
	 text-align: center;
	 display: block;
}

.card h3{
	text-align: center;
}

.card__img{
	width: 100%;
}

.card__desc{
	font-size: 18px;
}

.card__desc span{
	float: right;
	text-align: right;
	display: block;
	font-weight: bold;
}

.statusUser{
	border: 3px solid #FF5722;
	padding: 5px;
}